
.box {
    height: 100px;
    width: 150px;
    margin-bottom: 50px;
    background-color: #C4C4C4;
}
.line {
    height: 100px;
    background-color: #C4C4C4;
}
.container {
    width: 1000px;
    margin: 0 auto;
    text-align: center;
}
.head {
    height: 350px;
    width: 750px;
    background-color: #C4C4C4;
    margin-top: 50px;
    margin-left: 125px;
}
.text {
    border: 2px solid #C4C4C4;
    color: #000000;
    size: 20px;
    line-height: 24px;
    margin-top: 50px;
    font-family: "Arial";
}
p {
    margin: 40px;
}